.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies {
  list-style: none;
  
  width: 100%;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.movie {
  text-align: center;
  h3 {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  p {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  }
  img {
    box-sizing: content-box;
    height: 300px;
    border-radius: 8px;
    object-fit: contain;
    padding: 0;
    margin: 0;
  }
}