.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  text-align: center;
  color: #ff0000bc;
  font-weight: bold;
}

main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
